body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  background-repeat: no-repeat;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer > * {
  color: white;
}

p > a {
  color: white;
}

footer > div {
  margin: auto;
  width: 400px;
  padding-bottom: 20px;
}

nav {
  color: white;
}

table {
  color: white !important;
  font-size: 24px;
}


